[Unit]
Description=Unload ath11k before sleep
Before=sleep.target
StopWhenUnneeded=yes
ConditionPathExists=/sys/module/ath11k_pci

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/modprobe --remove ath11k_pci
ExecStop=/usr/bin/modprobe ath11k_pci

[Install]
RequiredBy=sleep.target
